<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="singletonBean" class="t1.SingletonBean" scope="singleton">
        <property name="str" value="123456"/>
    </bean>

    <bean id="prototypeBean" class="t2.PrototypeBean" scope="prototype">
        <property name="str" value="123456"/>
    </bean>
</beans>